/* ======= CSS Variables ======= */

:root {
  --accent-color: rgb(5, 150, 105);
  --font-family-headings: "Playfair Display", serif;
  --font-weight-headings: 700;
  --font-body: "Proza Libre", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.dark {
  --accent-color: rgb(34, 197, 133);
}

/* ======= Font styles ======= */

.font-proza-libre {
  font-family: "Proza Libre", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  letter-spacing: var(--letter-spacing-headings);
  font-weight: var(--font-weight-headings);
}

/* ======= Link hover styles ======= */

a {
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent-color);
}

/* ======= Header overried styles ======= */

.header-menu > ul {
  list-style-type: none;
  margin-left: 0;
  display: flex;
  flex-direction: row;

  li {
    margin-left: 0.75rem;
  }

  li:first-child {
    margin-left: 0;
  }

  a {
    text-decoration: none;
  }
}

/* ======= Post list overried styles ======= */

.post-line {
  margin-bottom: var(--h1-margin-bottom);

  a {
    text-decoration-skip-ink: all;
  }

  .line-title {
    font-family: var(--font-family-headings);
    margin-bottom: calc(var(--p-margin-bottom) * 0.25);
  }

  .category-tags {
    font-size: small;
    font-family: var(--font-body);
    margin: 0.5rem 0;
  }

  .line-summary {
    font-family: var(--font-body);
  }
}

/* ======= Single Post overried styles ======= */

.single-subsummary {
  font-size: 1rem;
}

.single-tags {
  font-size: 1rem;
}

.tag-count {
  font-size: 0.75rem;
  font-family: var(--font-mono);
}

hr.post-header-divider {
  background-color: var(--code-border);
}

.toc ul {
  list-style-type: none;
}
