/* ======= Imports ======= */

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");

/* ======= CSS Variables ======= */

:root {
  --accent-color: rgb(5, 150, 105);
}

.dark {
  --accent-color: rgb(34, 197, 133);
}

/* ======= Font styles ======= */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.06em;
  font-weight: 700;
}

/* ======= Single Post overried styles ======= */
/* 
@media screen and (min-width: 1200px) {
  aside.toc {
    position: absolute;
    right: 2em;
  }
} */

hr.post-header-divider {
  background-color: var(--code-border);
}

.toc ul {
  list-style-type: none;
}

/* ======= Link hover styles ======= */

a {
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent-color);
}
