{{/* Header */}}

<div class="header">

    {{ if or (not (.Param "hideHeader")) .IsHome }}

    <h1 class="header-title">
        <a href="{{ site.BaseURL }}">{{ site.Title }}</a>
    </h1>

    <nav class="header-menu">
      <ul>
        {{ $currentPage := . }}

        {{ with site.Params.menu }}
        {{ range . }}

          <li class="small {{ if eq .name (lower $currentPage.Name) }} bold {{end}}">
            <a href="{{ .url }}" {{ if and (isset . "newTab") .newTab
                }}target="_blank" rel="noopener noreferrer" {{ end }}>
                /{{.name }}
            </a>
          </li>
        {{ end }}
        {{ end }}
      </ul>
    </nav>

    {{ end }}

</div>
